@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text: #080808;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background: black;
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  transition: all .3s;
  margin-inline: auto;
}

body{
  width: 100%;
}

@media only screen and (min-width: 768px) {
  body {
      width: 630px;
  }
}

button {
  cursor: pointer;
}

